@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.page {
  background-color:#FCFFEA;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  

}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}
