.image{
    width:100%;
    height: 219px;
    
  }
.search-bar-container {
    position: relative; /* Ensure SVG positioning is relative to container */
    width: 345px;
    height: 48px;
    margin: 22px 24px 34px 24px;
  }
.search-bar{
    padding-left: 45px;
    box-sizing: border-box;
    width: 345px;
    height: 48px;
    background: #F1F3E6;
    border: 2px solid #919191;
    border-radius: 32px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
.search-bar::placeholder{
    /* search */
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-size: 17.28px;
    line-height: 21px;
    /* identical to box height */
    text-align: left;
    /* Primary 50 */
    color: #919191;
       
  }
.search-bar input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17.28px;
    line-height: 21px;
  }
.search-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
.category{
    margin-left: 46px;
    margin-right: 46px;
    max-width: calc(100% - 92px);
    height: 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
  }
.category-items{   
    width: 64px;
    height: 64px;
    background: #D9D9D9;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }

.items{
    margin-top: 45px;
    margin-right: 24px;
    margin-left: 24px;
    max-width: calc(100% - 48px);
    height: 100%;
    display: grid;
    grid-template-columns: 165px 165px;
    column-gap: 15px;
    row-gap: 24px ;
  }
.item-preview{
    width: 165px;
    height: 180px;
    background: #D9D9D9;
}
